# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env / secrets  (never commit real credentials)
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test
coverage/

# os / editor
.DS_Store
Thumbs.db
.idea/
*.swp

# prisma
prisma/*.db
